.quest {
  width: 100%;
}
.quest-body-wrap{
  max-width: 1400px;
}
.quest-header nav {
  display:flex;
  padding:30px 0px 30px 0px;
}
.quest-left-nav {
  display:flex;
  font-size: 20px;
  padding: 0px 20px;
}
.quest-right-nav {
  display:flex;
  font-size: 20px;
}
.quest-nav ul li {
  padding:0px 20px;
}
.quest-nav{
  justify-content:space-between;
}
.quest-tablist {
  text-align: center;
  font-family: 'Jost', sans-serif;
  height: 700px;
}
.quest-wrapper {
  width: 590px;
  margin-left:30px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, .1);
}
.quest-buttonWrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.quest-buttonWrapper button:nth-child(1) {
  border-top-left-radius: 10px; 
}
.quest-buttonWrapper button:nth-child(3){
  border-top-right-radius: 10px;
}
.questbtn {
  letter-spacing: 3px;
  border: none;
  padding: 10px;
  background-color: #dadada;
  color: #232c3d;
  font-size: 18px;
  cursor: pointer;
  transition: 0.5s;
}
.quest-tab-button:hover {
  background-color: #fb9827;
}
.quest-tab-button.active {
  background-color: #fb9827;
}
.quest-contentWrapper div {
  text-align: left;
  padding: 10px;
}
.quest-content {
  display: none;
  padding: 10px 20px;
  max-height: 600px;
  overflow: scroll;
}
.quest-content.active {
  display: block;
}
.quest-prompt-button{
  display: block;
  margin-top: 20px;
  border-radius: 10px;
}
.quest-prompt-button:hover {
  background-color: #fb9827
}
.CodeMirror{
  margin-top: 25px;
  margin-left:30px;
  margin-right: 20px;
  font-family: Arial, monospace;
  font-size: 18px;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, .1);
}
.CodeMirror-gutters{
  width: 50px;
}
.quest-edit-container{
  display: flex;
  background-color: #f0f0f0;
}
.quest-footer{
  display:flex;
  margin-top: 10px ;
  margin-left: 1220px;
}
.quest-footer-button:nth-child(1){
  position: absolute;
  left : 650px;
  top:800px;
}
.quest-footer-button {
  border-radius: 10px;
  margin-right: 10px;
}
.quest-footer-button:hover {
  background-color: #fb9827
}
