.profile-wrap {
  @apply flex justify-center;
  .profile-user-wrap {
    @apply w-1/4 m-10 shadow rounded-md bg-white;
    #user_profile_name {
      @apply border-gray-500 border 
    }
    .profile-avatar {
      @apply justify-center;
    }
    .profile-table {
      @apply block p-3 whitespace-pre-line;
    }
    button {
      @apply bg-yellow-500 hover:bg-yellow-700 text-white font-bold py-2 px-4 rounded m-3
    }
    .avatar {
      @apply h-1/2 w-1/2;
    }
    .profile-name {
      @apply relative;
    }
    .profile-name::after {
      position: absolute;
        content:'';
        width: 93%;
        flex-grow: 1;
        height: 1px;
        background-color: #e2e0df;
        bottom: 0px;
        left: 12px;
    }
  }
  .profile-quest-wrap {
    @apply w-1/3 m-10 shadow rounded-md bg-white p-3;
  }
  .profile-medal-wrap {
    @apply w-1/3 m-10 shadow rounded-md bg-white p-3;
  }
}