<section class="quest">
  <div class="quest-body-wrap">
    <div class="quest-header">
      <nav class="quest-nav">
        <ul class="quest-left-nav">
          <li>InfinityCode</li>
          <img src="https://picsum.photos/20/20/?random=1">
          <li class="quest-nav-pratice">Practice</li>
          <li class="quest-nav-discuss">Discuss</li>
          <li class="quest-nav-rank">Rank</li>
        </ul>
        <ul class="quest-right-nav">
          <img src="https://picsum.photos/20/20/?random=1">
          <li class="quest-nav-acount">Acount</li>
          <li class="quest-nav-gold">金幣：</li>
          <li class="quest-nav-count">00000</li>
        </ul>
      </nav>
    </div>
    <div class="quest-edit-container">
      <div class="quest-tablist">
        <div class="quest-wrapper">
          <div class="quest-buttonWrapper">
            <button class="quest-tab-button active"  data-id="question">Question</button>
            <button class="quest-tab-button" data-id="prompt">Prompt</button>
            <button class="quest-tab-button" data-id="contact">Contact</button>
          </div>
          <div class="quest-contentWrapper">
            <div class="quest-content active" id="question">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam iste doloribus unde ullam doloremque eos autem ad nulla accusamus? Modi at minima numquam accusamus repudiandae perspiciatis nostrum architecto voluptatem quasi?
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia ratione corporis earum laudantium sapiente autem praesentium error neque illum adipisci modi ea, consectetur rerum pariatur laborum aperiam at commodi! Impedit.
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur, quasi porro dolorum deleniti velit fuga perspiciatis veniam minus perferendis facere sit doloribus aliquid illum adipisci. Quam quasi maxime perferendis dolorem.
            </div>
            <div class="quest-content" id="prompt"> 
              <button class="quest-prompt-button">免費提示一</button>
              <button class="quest-prompt-button">免費提示二</button>
              <button class="quest-prompt-button">金幣提示三</button>
            </div>
            
            <div class="quest-content" id="contact">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos sit incidunt nostrum? Magni, quam vero, magnam odio similique ipsam minima et repellat rerum cupiditate totam in repudiandae. Sed, dicta corrupti?
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores, dolore quas quis earum incidunt voluptas! Ducimus quod libero aliquid consequatur et modi porro officia, quibusdam quas commodi placeat maxime qui?
              Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ab ea debitis eligendi accusamus deleniti maxime pariatur. Assumenda, facere placeat eius quam magni accusantium aut quae minima iure atque incidunt illum.
            </div>
        </div>
        
        </div>
      </div>
      <div class="quest-monaco-content">
      </div>
    </div>
      <div class="quest-footer">
        <button class="quest-footer-button">RunCode</button>
        <button class="quest-footer-button">Sumbit</button>
        <button class="quest-footer-button">Reset</button>
      </div>
   </div>
  </section>
