<section class = "listquest-wrapper">
  <div class="quest-checkbox">
    <input type="checkbox" id="level-select" />
    <label for="s1">簡單</label>
    </p>
    <input type="checkbox" id="level-select"/>
    <label for="s2">中等</label>
    </p>
    <input type="checkbox" id="level-select"/>
    <label for="s3">困難</label>
    </p>
    <div class="split">|</div>
    <input type="checkbox" id="completion-select"/>
    <label for="s4">已解決</label>
    </p>
    <input type="checkbox" id="completion-select"/>
    <label for="s5">未解決</label>
    </p>
  </div>
  <div id="list-quest">
  </div>
  
</section>