<section class="quest">
    <div class="quest-edit-container">
      <div class="quest-tablist">
        <div class="quest-wrapper">
          <div class="quest-buttonWrapper">
            <button class="quest-tab-button active questbtn"  data-id="question">Question</button>
            <button class="quest-tab-button questbtn" data-id="prompt" >Prompt</button>
          </div>
          <div class="quest-contentWrapper">
            <div class="quest-content active" id="question">
              <div class="css-title"></div>
              <div class="css-level"></div>
              <div class="css-description markdown-body"></div>
              <pre>
                <code class="javascript hljs">
                  var a = 1;
                  function example () {
                    console.log( "Hello World" );
                  }
                </code>
              <div class="css-picture"></div>
            </div>
            <div class="quest-content" id="prompt"> 
              <button class="quest-prompt-button questbtn">免費提示一</button>
              <button class="quest-prompt-button questbtn">免費提示二</button>
              <button class="quest-prompt-button questbtn">金幣提示三</button>
            </div>
            
            <div class="quest-content" id="contact">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos sit incidunt nostrum? Magni, quam vero, magnam odio similique ipsam minima et repellat rerum cupiditate totam in repudiandae. Sed, dicta corrupti?
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores, dolore quas quis earum incidunt voluptas! Ducimus quod libero aliquid consequatur et modi porro officia, quibusdam quas commodi placeat maxime qui?
              Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ab ea debitis eligendi accusamus deleniti maxime pariatur. Assumenda, facere placeat eius quam magni accusantium aut quae minima iure atque incidunt illum.
            </div>
        </div>
        </div>
      </div>
        <textarea id="editor"></textarea>
    </div>
    
    <div class="quest-footer">
      <button class="quest-footer-button questbtn">Reset</button>
      <button class="quest-footer-button questbtn">Submit</button>
      <button class="quest-footer-button questbtn" >Run</button>
    </div>
  </div>
</section>
