<section class="quest">
    <div class="quest-edit-container">
      <div class="quest-tablist">
        <div class="quest-wrapper">
          <div class="quest-buttonWrapper">
            <button class="quest-tab-button active questbtn"  data-id="question">Question</button>
            <button class="quest-tab-button questbtn" data-id="prompt" >Prompt</button>
          </div>
          <div class="quest-contentWrapper">
            <div class="quest-content active" id="question">
              <div class="css-title"></div>
              <div class="css-level"></div>
              <div class="css-description markdown-body"></div>
              <div class="css-questImg"></div>
            </div>
            <div class="quest-content" id="prompt"> 
            </div>
          </div>
        </div>
      </div>
        <textarea id="editor"></textarea>
    </div>
    <div class="quest-footer">
      <button class="quest-footer-button questbtn">Reset</button>
      <button class="quest-footer-button questbtn">Submit</button>
      <button class="quest-footer-button questbtn" >Run</button>
    </div>
</section>
