<div class="user-index-container">
   <div class="profile-wrap">
      <div class="profile-user-wrap">
         <span class="profile-table profile-avatar"><%= image_tag(@profile.avatar_url, class: 'avatar') if @profile.avatar_url %></span>
         <span class="profile-table profile-name">使用者名稱：<%= current_user.profile.name %></span>
         <span class="profile-table">簡介：<%= current_user.profile.bio %></span>
         <button><%= link_to "編輯", edit_profile_path %></button>
      </div>
      <div class="profile-quest-wrap">題目完成度</div>
      <div class="profile-medal-wrap">獎牌區</div>
   </div>
</div>