#listquest-wrapper {
  @apply pt-24  m-auto  max-w-screen-xl w-full min-h-screen min-w-978;
  .quest-checkbox {
    @apply font-mono flex px-2;
    .level-select, .completion-select {
      @apply mx-2 my-1 mt-1.5 cursor-pointer;
    }
    .level-label {
      @apply cursor-pointer;
    }
    .split {
      @apply mr-1 ml-3 text-gray-300;
    }
  }
  #list-quest {
    @apply grid grid-cols-2;
    .quest-name {
      @apply shadow-md m-4 bg-white hover:bg-gray-100 border border-opacity-30 border-gray-200;
      & > h3{
        @apply font-mono text-xl pt-4 px-4;
      }
      .list-wrapper {
        @apply flex justify-between items-center px-4 my-4;
        & > div {
          @apply flex items-center;
          & > span:nth-of-type(1) {
            @apply ml-3 text-gray-500;
          }
          & > span:nth-of-type(2) {
            @apply text-yellow-500;
          }    
          & > img {
            @apply w-5 h-5 rounded-full mb-0.5 ml-3 mr-1;
          }
        }
        .question-level {
          @apply flex justify-center items-center text-base py-1 px-3 border;
        }
        .question-btn {
          @apply outline-none text-center py-3 w-3/12 tracking-widest;
        }
        .question-unsolved {
          @apply outline-none text-center py-3 w-3/12 tracking-widest;
        }
      }
    }
  }
}