.quest {
  width: 100%;
  min-width: 1000px;
  height: 100vh;
  position: relative;
}
.quest-tablist {
  padding-top: 25px;
  text-align: center;
  font-family: 'Jost', sans-serif;
  height: 700px;
}
.quest-wrapper {
  width: 500px;
  margin-top: 75px;
  margin-left:30px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, .1);
}
.quest-button-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.quest-button-wrapper button:nth-child(1) {
  border-top-left-radius: 10px; 
}
.quest-button-wrapper button:nth-child(2){
  border-top-right-radius: 10px;
}
.questbtn {
  letter-spacing: 3px;
  border: none;
  padding: 10px;
  background-color: #dadada;
  color: #232c3d;
  font-size: 18px;
  cursor: pointer;
  transition: 0.5s;
}
.quest-tab-button:hover {
  background-color: #fb9827;
}
.quest-tab-button.active {
  background-color: #fb9827;
}
.quest-contentWrapper div {
  padding-top: 10px;
}
.quest-contentWrapper div {
  text-align: left;
  padding: 10px;
}
.quest-content {
  display: none;
  padding: 10px 20px;
  max-height: 450px;
  overflow: scroll;
}
.quest-content.active {
  display: block;
}
.quest-prompt-button{
  display: block;
  margin-top: 20px;
  border-radius: 10px;
}
.quest-prompt-button:hover {
  background-color: #fb9827
}
.CodeMirror{
  margin-top: 100px;
  margin-left: 30px;
  font-family:'Courier New', Courier, monospace;
  font-size: 14px;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, .1);
}
.CodeMirror-gutters{
  width: 50px;
  z-index: 0;
}
.quest-edit-container{
  display: flex;
  height: 630px;
  justify-content: center;
}
.quest-footer{
  display:flex;
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 10px
}
.quest-footer-button:nth-child(1){
  margin-left: 650px;
}
.quest-footer-button {
  border-radius: 10px;
  margin-right: 10px;
}
.quest-footer-button:hover {
  background-color: #fb9827
}
.css-title{
  text-align: left;
  padding-left: 10px;
}
.css-level{
  text-align: left;
  padding-left: 10px;
}
.css-description{
  text-align: left;
  padding-left: 10px;
}
.close {
  display:none;
}

.quest-awser-wrap{
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  margin: auto;
  text-align:center;
  font-size: 0;
  z-index: 100;
}
.quest-awser-wrap:before{
  content:'';
  display: inline-block;
  width: 0px;
  height: 100%;
  vertical-align: middle;
}
.quest-awser-wrap:after{
  content:'';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 0;
  background-color: #000;
  opacity:.5
}
.quest-awser-content{
  width: 500px;
  height: 320px;
  padding: 10px;
  background-color: #fff;
  text-align: center;
  position: relative;
  z-index: 1;
  font-size: 16px;
  display: inline-block;
  vertical-align: middle;
  border-radius: 10px;
}

.quest-awser-button{
  font-size: 26px;
  letter-spacing: 1px;
  margin-top: 20px;
}

.quest-awser-button > button{
  width: 28%;
  height: 30%;
  margin: 20px 10px 0 10px;
  font-size: 19px;
  outline: none;
}

.quest-awser-button > button:nth-of-type(2n+1){
  background-color: #fb9827;
}

.quest-awser-button div{
  margin-right: 20px;
}

.quest-awser-button div > span{
  font-size: 50px;
  color: #fb9827;
}

.quest-awser-button div > img{
  width: 40%;
  margin: auto;
  margin-bottom: 20px;
  display: inline-block;
}

.quest-awser-button h2{
  color: #424242cc;
  font-size: 40px;
  margin-top: -20px;
}

.prompt-wrap{
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  margin: auto;
  text-align:center;
  font-size: 0;
  z-index: 100;
}
.prompt-wrap:before{
  content:'';
  display: inline-block;
  width: 0;
  height: 100%;
  vertical-align: middle;
}
.prompt-wrap:after{
  content:'';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 0;
  background-color: #000;
  opacity:.5
}
.prompt-content{
  width: 350px;
  height: 280px;
  padding: 10px;
  background-color: #fff;
  text-align: center;
  position: absolute;
  top: -50px;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 1;
  font-size: 16px;
  display: inline-block;
  vertical-align: middle;
  border-radius: 8px;
}

.prompt-window{
  font-size: 26px;
  letter-spacing: 1px;
}

.prompt-window button{
  width: 30%;
  height: 25%;
  font-size: 24px;
  margin-top: 10px;
  outline: none;
}

.prompt-window button:nth-child(3){
  margin-left: 35px;
}

.prompt-window button:nth-child(4){
  background-color: #fb9827;
  margin-left: 40px;
}

.prompt-window > h2{
  color: #424242cc;
  text-align: center;
  margin-top: 15px;
}

.prompt-window > img{
  width: 50%;
  margin: auto;
}