.quest {
  width: 100%;
  min-width: 1000px;
  height: 100vh;
  position: relative;
}
.quest-tablist {
  padding-top: 25px;
  text-align: center;
  font-family: 'Jost', sans-serif;
  height: 700px;
}
.quest-wrapper {
  width: 500px;
  margin-top: 75px;
  margin-left:30px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, .1);
}
.quest-button-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  button:nth-child(1) {
    border-top-left-radius: 10px; 
  }
  button:nth-child(2){
    border-top-right-radius: 10px;
  }
}
.questbtn {
  letter-spacing: 3px;
  border: none;
  padding: 10px;
  background-color: #dadada;
  color: #232c3d;
  font-size: 18px;
  cursor: pointer;
  transition: 0.5s;
}
.quest-tab-button:hover {
  background-color: #fb9827;
}
.quest-tab-button.active {
  background-color: #fb9827;
}

.quest-tab-button.questbtn{
  outline: none;
}

.quest-contentWrapper div {
  padding-top: 10px;
  text-align: left;
}
.quest-content {
  display: none;
  padding: 10px 20px;
  max-height: 450px;
  overflow: scroll;
}
.quest-content.active {
  display: block;
}
.quest-prompt-button.questbtn{
  display: block;
  margin-top: 20px;
  border-radius: 10px;
  outline: none;
}
.quest-prompt-button:hover {
  background-color: #fb9827
}
.CodeMirror{
  margin-top: 100px;
  margin-left: 30px;
  font-family:'Courier New', Courier, monospace;
  font-size: 14px;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, .1);
}
.CodeMirror-gutters{
  width: 50px;
  z-index: 0;
}
.quest-edit-container{
  display: flex;
  height: 630px;
  justify-content: center;
}
.quest-footer{
  display:flex;
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 10px
}
.quest-footer-button:nth-child(1){
  margin-left: 650px;
}
.quest-footer-button.questbtn{
  border-radius: 10px;
  margin-right: 10px;
  outline: none;
}

.quest-footer-button:hover {
  background-color: #fb9827
}
.css-title{
  text-align: left;
  padding-left: 10px;
}
.css-level{
  text-align: left;
  padding-left: 10px;
}
.css-description{
  text-align: left;
  padding-left: 10px;
}
.close {
  display:none;
}

.quest-answer-wrap{
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  margin: auto;
  text-align:center;
  font-size: 0;
  z-index: 100;
}
.quest-answer-wrap:before{
  content:'';
  display: inline-block;
  width: 0px;
  height: 100%;
  vertical-align: middle;
}
.quest-answer-wrap:after{
  content:'';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 0;
  background-color: #000;
  opacity:.5
}
.quest-answer-content{
  width: 500px;
  height: 320px;
  padding: 10px;
  background-color: #fff;
  text-align: center;
  position: relative;
  z-index: 1;
  font-size: 16px;
  display: inline-block;
  vertical-align: middle;
  border-radius: 10px;
}

.quest-answer-button{
  font-size: 26px;
  letter-spacing: 1px;
  margin-top: 20px;
  &  > button{
    width: 28%;
    height: 30%;
    margin: 20px 10px 0 10px;
    font-size: 19px;
    outline: none;
  }
  & > button:nth-of-type(2n+1){
    background-color: #fb9827;
  }
  div{
    margin-right: 20px;
    &  > span{
      font-size: 50px;
      color: #fb9827;
    }
    &  > img{
      width: 40%;
      margin: auto;
      margin-bottom: 20px;
      display: inline-block;
    }
  }
  h2{
    color: #424242cc;
    font-size: 40px;
    margin-top: -20px;
  }
}

.prompt-wrap{
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  margin: auto;
  text-align:center;
  font-size: 0;
  z-index: 100;
}
.prompt-wrap:before{
  content:'';
  display: inline-block;
  width: 0;
  height: 100%;
  vertical-align: middle;
}
.prompt-wrap:after{
  content:'';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 0;
  background-color: #000;
  opacity:.5
}
.prompt-content{
  width: 350px;
  height: 280px;
  padding: 10px;
  background-color: #fff;
  text-align: center;
  position: absolute;
  top: -50px;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 1;
  font-size: 16px;
  display: inline-block;
  vertical-align: middle;
  border-radius: 8px;
}

.prompt-window{
  font-size: 26px;
  letter-spacing: 1px;
  button{
    width: 30%;
    height: 25%;
    font-size: 24px;
    margin-top: 10px;
    outline: none;
    &:nth-child(3){
      margin-left: 35px;
    }
    &:nth-child(4){
      background-color: #fb9827;
      margin-left: 40px;
    }
  }
  & > h2{
    color: #424242cc;
    text-align: center;
    margin-top: 15px;
  }
  & > img{
    width: 50%;
    margin: auto;
  }
}

.quest-error-window{
  width: 500px;
  height: 200px;
  position: absolute;
  left: 560px;
  right: 0;
  margin: auto;
  margin-top: -220px;
  box-shadow: 2px 2px 10px 0 rgb(206, 203, 203);
  border-radius: 4px;
  padding: 3px 5px;
  background: rgb(255, 255, 255);
  z-index: 100;
  overflow: scroll;
  & > div:nth-child(1){
    display: flex;
    font-size: 20px;
    border-bottom: 1px solid rgb(233, 233, 233);
    padding: 3px;
    color:rgb(194, 41, 41);
    & > div{
      display: flex;
      justify-content: flex-end;
      margin-right: 3px;
      width: 62%;
    }
    & > div:nth-child(2){
      width: 38%;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      font-size: 20px;
      color:rgb(206, 203, 203);
      svg:hover{
        color:rgb(156, 152, 152);
      }
    }
  } 
  & > div:nth-child(2){
    display: flex;
    flex-direction: column;
    font-size: 15px;
    padding: 8px;
    color: rgb(238, 98, 98);
  }
}

.quest-success-window{
  width: 500px;
  height: 200px;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: -550px;
  margin: auto;
  box-shadow: 2px 2px 10px 0 rgb(206, 203, 203);
  border-radius: 4px;
  padding: 3px 5px;
  background: rgb(255, 255, 255);
  z-index: 100;
  overflow: scroll;
  & > div:nth-child(1){
    display: flex;
    font-size: 20px;
    border-bottom: 1px solid rgb(233, 233, 233);
    padding: 3px;
    color:rgb(90, 89, 89);
    & > div{
      display: flex;
      justify-content: flex-end;
      margin-right: 3px;
      width: 58%;
    }
    & > div:nth-child(2){
      width: 42%;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      font-size: 20px;
      color:rgb(206, 203, 203);
      svg:hover{
        color:rgb(156, 152, 152);
      }
    }
  } 
  & > div:nth-child(2){
    display: flex;
    flex-direction: column;
    font-size: 15px;
    padding: 8px;
    color: rgb(36, 35, 35);
  }
}
.answer-loading{
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 200;
}

.display-message{
  display: flex;
  flex-direction: column;
  & > div:nth-child(2) {
    background: rgb(255, 247, 247);
    padding: 4px;
    margin-bottom: 6px;
  }
}