.profile-edit-wrap {
  @apply flex justify-center;
  .edit-box {
    @apply w-1/3 shadow rounded-md bg-white m-auto;
    .profile-edit-table {
      @apply p-4;
      .edit-input {
        @apply shadow rounded-md p-2;
        .avatar-btn {
          @apply hidden outline-none;
        }
      }
      .edit-text-input {
        @apply w-full;
      }
    }
  }
  .profile-submitbtn {
    @apply bg-yellow-500 hover:bg-yellow-700 text-white font-bold py-2 px-4 rounded m-3
  }
  .profile-back {
    @apply py-3;
  }
}