.profile-wrap {
  @apply flex justify-center min-h-screen min-w-max;
  .profile-user-wrap {
    @apply w-1/4 m-10 shadow bg-white h-1/2;
    #user_profile_name {
      @apply border-gray-500 border 
    }
    .profile-avatar {
      @apply justify-center w-36 h-36 overflow-hidden;
    }
    .profile-table {
      @apply block p-3 whitespace-pre-line;
    }
    button {
      @apply bg-yellow-500 border border-yellow-500 hover:bg-yellow-450 hover:border-yellow-450 text-white font-bold py-2 px-4 m-3 outline-none;
    }
    .profile-name {
      @apply relative;
    }
    .profile-name::after {
      position: absolute;
      content:'';
      width: 93%;
      flex-grow: 1;
      height: 1px;
      background-color: #e2e0df;
      bottom: 0px;
      left: 12px;
    }
  }
  .profile-quest-wrap {
    @apply w-1/3 m-10 shadow bg-white p-3 h-1/2;
    .percent {
      @apply block text-base text-black relative;
    }
    .percent::after{
      position: absolute;
      content:'';
      width: 100%;
      flex-grow: 1;
      height: 1px;
      background-color: #e2e0df;
      bottom: -10px;
      left: 0px;
    }
    .quest-amount {
      @apply text-gray-600 text-3xl mt-6 block;
    }
    .chart {
      @apply  w-40 m-auto mb-10;
    }
    .numerical {
      @apply flex justify-around mb-4 tracking-widest items-center text-center;
      .easy {
        .title {
          @apply text-green-500 block;
        }
      }
      .medium {
        .title {
          @apply text-yellow-500 block;
          p {
            span {
              @apply text-gray-500;
            }
          }
        }
      }
      .hard {
        .title {
          @apply text-red-500 block;
        }
      }
    }
    .allchart {
      @apply flex justify-around;
      .chart {
        @apply w-20
      }
    }
  }
  .profile-medal-wrap {
    @apply w-1/3 m-10 shadow bg-white p-3 h-1/2 max-w-md;

    .medal-list {
      @apply flex flex-wrap justify-center min-w-min;

      .badge {
        @apply w-24 h-24 p-2 opacity-25 filter brightness-50;

        &.show {
          @apply opacity-100 filter brightness-100;
        }

        &.large {
          @apply w-28 h-28;
        }
      }
    }
  }
}