<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container_nav">
        <nav class="discuss_nav_left">
            <a href="#">LeetCode</a>
            <a href="#">Explore</a>
            <a href="#">Problems</a>
            <a href="#">interview</a>
            <a href="#">Contest</a>
            <a href="#">Discuss</a>
            <a href="#">Store</a>
        </nav>
        <nav class="discuss_nav_right">
            <a href="#">Premium</a>
            <a href="http://127.0.0.1:3000/posts/new">
              <i class="fas fa-plus"></i>
            </a>
            <a href="#">
              <i class="fas fa-bell"></i>
            </a>
            <a href="#">
              <i class="fas fa-user"></i>
            </a>
        </nav>
  </div>
  
      <div class="container_discuss">

            <div class="wrap" id="wwrap">          
            </div>
            
            <div class="discuss_right">
              <div class="adver"></div>
              <div class="search">
                <div>Tags</div>
                <div>
                  <input type="text" placeholder="Search for tags...">
                  <button>phone screen</button>
                  <button>google</button>
                  <button>amazon</button>
                  <button>facebook</button>
                  <button>phone screen</button>
                  <button>google</button>
                  <button>amazon</button>
                  <button>facebook</button>
                  <button>phone screen</button>
                  <button>google</button>
                  <button>amazon</button>
                  <button>facebook</button>
                  <h3>...1392 tags not shown</h3>
                </div>
              </div>
            </div> 
      </div>  

</body>
</html>