<div class="container_nav">
      <nav class="discuss_nav_left">
          <a href="#">LeetCode</a>
          <a href="#">Explore</a>
          <a href="#">Problems</a>
          <a href="#">interview</a>
          <a href="#">Contest</a>
          <a href="#">Discuss</a>
          <a href="#">Store</a>
      </nav>
      <nav class="discuss_nav_right">
          <a href="#">Premium</a>
          <i class="fas fa-plus"></i>
          <i class="fas fa-bell"></i>
          <i class="fas fa-user"></i>
      </nav>
</div>

    <div class="container_discuss">
          <div class="wrap">
              <div class="item">
                      <a href="#">All Interview Quesions</a>
                      <a href="#">System Design</a>
                      <a href="#">Operating System</a>
                      <a href="#">Object-Oriented Design</a>
              </div>
              <div class="item">
                  <div>
                      <a href="#">Hot</a>
                      <a href="#">Newest to Oidest</a>
                      <a href="#">Most Votes</a>
                  </div>
                  <div>
                      <input type="text" placeholder="Search topics or comments">
                      <button>New +</button>
                  </div>
              </div>
              <div class="item">
                <img src="https://picsum.photos/50/50?grayscale
                " alt="jpg">
                <div>
                    <h2>Microsoft Online Assessment Questions</h2>
                    <h3>Sithis created at:August 6, 2019 7:16 PM | Last Reply: sg3932 18 hours ago</h3>
                </div>
              </div>
              <div class="item">
                <img src="https://picsum.photos/50/50?grayscale
                " alt="jpg">
                <div>
                    <h2>Microsoft Online Assessment Questions</h2>
                    <h3>Sithis created at:August 6, 2019 7:16 PM | Last Reply: sg3932 18 hours ago</h3>
                </div>
              </div>
              <div class="item">
                <img src="https://picsum.photos/50/50?grayscale
                " alt="jpg">
                <div>
                    <h2>Microsoft Online Assessment Questions</h2>
                    <h3>Sithis created at:August 6, 2019 7:16 PM | Last Reply: sg3932 18 hours ago</h3>
                </div>
              </div>
              <div class="item">
                <img src="https://picsum.photos/50/50?grayscale
                " alt="jpg">
                <div>
                    <h2>Microsoft Online Assessment Questions</h2>
                    <h3>Sithis created at:August 6, 2019 7:16 PM | Last Reply: sg3932 18 hours ago</h3>
                </div>
              </div>
              <div class="item">
                <img src="https://picsum.photos/50/50?grayscale
                " alt="jpg">
                <div>
                    <h2>Microsoft Online Assessment Questions</h2>
                    <h3>Sithis created at:August 6, 2019 7:16 PM | Last Reply: sg3932 18 hours ago</h3>
                </div>
              </div>
              <div class="item">
                <img src="https://picsum.photos/50/50?grayscale
                " alt="jpg">
                <div>
                    <h2>Microsoft Online Assessment Questions</h2>
                    <h3>Sithis created at:August 6, 2019 7:16 PM | Last Reply: sg3932 18 hours ago</h3>
                </div>
              </div>
              <div class="item">
                <img src="https://picsum.photos/50/50?grayscale
                " alt="jpg">
                <div>
                    <h2>Microsoft Online Assessment Questions</h2>
                    <h3>Sithis created at:August 6, 2019 7:16 PM | Last Reply: sg3932 18 hours ago</h3>
                </div>
              </div>
              <div class="item">
                <img src="https://picsum.photos/50/50?grayscale
                " alt="jpg">
                <div>
                    <h2>Microsoft Online Assessment Questions</h2>
                    <h3>Sithis created at:August 6, 2019 7:16 PM | Last Reply: sg3932 18 hours ago</h3>
                </div>
              </div>
              <div class="item">
                <img src="https://picsum.photos/50/50?grayscale
                " alt="jpg">
                <div>
                    <h2>Microsoft Online Assessment Questions</h2>
                    <h3>Sithis created at:August 6, 2019 7:16 PM | Last Reply: sg3932 18 hours ago</h3>
                </div>
              </div>
              <div class="item">
                <img src="https://picsum.photos/50/50?grayscale
                " alt="jpg">
                <div>
                    <h2>Microsoft Online Assessment Questions</h2>
                    <h3>Sithis created at:August 6, 2019 7:16 PM | Last Reply: sg3932 18 hours ago</h3>
                </div>
              </div>
              <div class="item">
                <img src="https://picsum.photos/50/50?grayscale
                " alt="jpg">
                <div>
                    <h2>Microsoft Online Assessment Questions</h2>
                    <h3>Sithis created at:August 6, 2019 7:16 PM | Last Reply: sg3932 18 hours ago</h3>
                </div>
              </div>       
          </div>
          <div class="discuss_right">
            <div class="adver"></div>
            <div class="search">
              <div>Tags</div>
              <div>
                <input type="text" placeholder="Search for tags...">
                <button>phone screen</button>
                <button>google</button>
                <button>amazon</button>
                <button>facebook</button>
                <button>phone screen</button>
                <button>google</button>
                <button>amazon</button>
                <button>facebook</button>
                <button>phone screen</button>
                <button>google</button>
                <button>amazon</button>
                <button>facebook</button>
                <h3>...1392 tags not shown</h3>
              </div>
            </div>
          </div> 
    </div>  