<div class="user-index-container">
  <div class="home-box">
    <div class="skill-box">
      <div class="skill-ruby">
        <h2>RUBY</h2>
        <div class="progress-bar">
        </div>
        <span class="percent"></span>
        <button class="start-button solid-button"><a href="/quests">開始測驗</a></button>
      </div>
    </div>
    <div class="social-box">
      <div class="discuss-box">
        <div class="tag">討論區</div>
        <div class="discuss-list-box">
          <div class="discuss-list first">
          </div>
          <div class="discuss-list second">
          </div>
          <div class="discuss-list third">
          </div>
          <div class="discuss-list fourth">
          </div>
        </div>
      </div>
      <div class="rank-box">
        <div class="tag">排行榜</div>
        <div class="rank-content">
          <div class="rank-button-wrapper">
            <button class="rank-button toggle" data-id="quests">解題數</button>
            <button class="rank-button" data-id="coin">金幣數</button>
            <button class="rank-button" data-id="post">發文數</button>
            <button class="rank-button" data-id="comment">留言數</button>
          </div>
          <div class="content-wrapper">
            <div class="content toggle" id="quests">
              <div class="rank-list-box">
                <div class="rank-list quests-1">
                  <i class="fas fa-trophy gold"></i>
                  <span class="name"></span>
                  <span class="count">22</span>
                </div>
                <div class="rank-list quests-2">
                  <i class="fas fa-trophy sliver"></i>
                  <span class="name">user name</span>
                  <span class="count">20</span>
                </div>
                <div class="rank-list quests-3">
                  <i class="fas fa-trophy copper"></i>
                  <span class="name">user name</span>
                  <span class="count">15</span>
                </div>
              </div>
            </div>
            <div class="content" id="coin">
              <div class="rank-list-box">
                <div class="rank-list coin-1">
                </div>
                <div class="rank-list coin-2">
                </div>
                <div class="rank-list coin-3">
                </div>
              </div>
            </div>
            <div class="content" id="comment">
              <div class="rank-list-box">
                <div class="rank-list comment-1">
                </div>
                <div class="rank-list comment-2">
                </div>
                <div class="rank-list comment-3">
                </div>
              </div>
            </div>
            <div class="content" id="post">
              <div class="rank-list-box">
                <div class="rank-list post-1">
                </div>
                <div class="rank-list post-2">
                </div>
                <div class="rank-list post-3">
                </div>
              </div>      
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

