<div class="user-index-container">
  <div class="home-box">
    <div class="skill-box">
      <div class="skill-ruby">
        <h2>RUBY</h2>
        <div class="progress-bar"></div>
        <span>0%</span>
        <span class="start-button"><a href="/quests">開始測驗</a></span>
      </div>
    </div>
    <div class="social-box">
      <div class="discuss-box">
        <div class="tag">討論區</div>
        <div class="discuss-list-box">
            <div class="discuss-list">
              <img src="https://picsum.photos/50/50?grayscale" alt="jpg" />
              <div>
                <h2><a href="#">Title</a></h2>
                <h3>content</h3>
              </div>
            </div>
            <div class="discuss-list">
              <img src="https://picsum.photos/50/50?grayscale" alt="jpg" />
              <div>
                <h2><a href="#">Title</a></h2>
                <h3>content</h3>
              </div>
            </div>
            <div class="discuss-list">
              <img src="https://picsum.photos/50/50?grayscale" alt="jpg" />
              <div>
                <h2><a href="#">Title</a></h2>
                <h3>content</h3>
              </div>
            </div>
            <div class="discuss-list">
              <img src="https://picsum.photos/50/50?grayscale" alt="jpg" />
              <div>
                <h2><a href="#">Title</a></h2>
                <h3>content</h3>
              </div>
            </div>
          </div>
      </div>
      <div class="rank-box">
        <div class="tag">排行榜</div>
        <div class="rank-content">
          <div class="rank-title">
            <span><a href="#">解題數</a></span>
            <span><a href="#">金幣數</a></span>
            <span><a href="#">得讚數</a></span>
            <span><a href="#">發文數</a></span>
          </div>
          <div class="rank-list-box">
            <div class="rank-list">
              <i class="fas fa-trophy gold"></i>
              <span class="name">user name</span>
              <span class="count">22</span>
            </div>
            <div class="rank-list">
              <i class="fas fa-trophy sliver"></i>
              <span class="name">user name</span>
              <span class="count">20</span>
            </div>
            <div class="rank-list">
              <i class="fas fa-trophy copper"></i>
              <span class="name">user name</span>
              <span class="count">15</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

