<div class="user-index-container">
  <div class="home-box">
    <div class="skill-box">
      <div class="skill-ruby">
        <h2>RUBY</h2>
        <div class="progress-bar">
        </div>
        <span class="percent"></span>
        <button class="start-button solid-button"><a href="/quests">開始測驗</a></button>
      </div>
    </div>
    <div class="social-box">
      <div class="discuss-box">
        <div class="tag">討論區</div>
        <div class="discuss-list-box">
          <div class="discuss-list first">
          </div>
          <div class="discuss-list second">
          </div>
          <div class="discuss-list third">
          </div>
          <div class="discuss-list fourth">
          </div>
        </div>
      </div>
      <div class="rank-box">
        <div class="tag">排行榜</div>
        <div class="rank-content">
          <div class="rank-button-wrapper">
            <button class="rank-button toggle" data-id="coin">金幣數</button>
            <button class="rank-button" data-id="quests">解題數</button>
            <button class="rank-button" data-id="post">發文數</button>
            <button class="rank-button" data-id="like">得讚數</button>
          </div>
          <div class="content-wrapper">
            <div class="content toggle" id="coin">
              <div class="rank-list-box">
                <div class="rank-list coin-1">
                </div>
                <div class="rank-list coin-2">
                </div>
                <div class="rank-list coin-3">
                </div>
              </div>
            </div>
            <div class="content" id="quests">
              <div class="rank-list-box">
                <div class="rank-list quests-1">
                </div>
                <div class="rank-list quests-2">
                </div>
                <div class="rank-list quests-3">
                </div>
              </div>
            </div>
            <div class="content" id="like">
              <div class="rank-list-box">
                <div class="rank-list like-1">
                </div>
                <div class="rank-list like-2">
                </div>
                <div class="rank-list like-3">
                </div>
              </div>
            </div>
            <div class="content" id="post">
              <div class="rank-list-box">
                <div class="rank-list post-1">
                </div>
                <div class="rank-list post-2">
                </div>
                <div class="rank-list post-3">
                </div>
              </div>      
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

