.home-nav {
  @apply flex items-center justify-between px-10 bg-white shadow-md fixed w-full top-0 z-50;
  .home-logo {
    @apply flex items-center flex-shrink-0 text-black mr-6 py-5;
    .home-logo-text {
      @apply font-semibold text-xl tracking-tight;
    }
    img {
      @apply w-12 h-8;
    }
  } 
  .home-nav-item {
    @apply w-full block flex-grow lg:flex lg:items-center lg:w-auto;
    .home-nav-item-link {
      @apply flex lg:flex-grow pl-7 justify-end;
      ul {
        @apply flex cursor-pointer text-lg;
        li {
          @apply list-none py-5 px-4 hover:text-yellow-500 tracking-wider;
          &:nth-child(4) {
            @apply flex
          }
          .user-email{
            @apply text-green-600 mr-2 tracking-wider;
          }
          ul {
            @apply hidden absolute top-full right-12 shadow-md border border-opacity-10;
            li {
              @apply bg-white px-6 text-black py-3 border-b border-opacity-5;
            }
          }
          img {
            @apply w-9 h-7 align-bottom;
          }
        }
        li:hover ul {
          @apply block;
        }
        .coin {
          @apply text-yellow-500;
        }
      }
      .user-btn {
        @apply mr-0;
        .user-btn-signup {
          @apply py-1 px-3 text-lg outline-none mr-2 border border-yellow-500 hover:border-yellow-450;
        }
        .user-btn-login {
          @apply py-1 px-3 text-lg outline-none mr-2;
        }
      }
    }
  }
}
footer {
  @apply w-full py-2 text-center bg-yellow-500 text-white mb-0 ; 
}
