.home-nav {
  @apply flex items-center justify-between px-7 bg-white shadow-md fixed w-full top-0 z-50 min-w-max;
  .home-logo {
    @apply flex items-center flex-shrink-0 text-black mr-6 h-20;
    .home-logo-text {
      @apply font-semibold text-xl tracking-tight;
    }
    img {
      @apply w-14 h-8;
    }
  } 
  .home-nav-item {
    @apply w-full block flex-grow lg:flex lg:items-center lg:w-auto;
    .home-nav-item-link {
      @apply flex lg:flex-grow pl-7 justify-end;
      & > ul {
        @apply flex cursor-pointer text-lg h-20;
        li {
          @apply flex items-center list-none px-4 hover:text-yellow-500 tracking-wider min-h-full;
          &:nth-child(4) {
            @apply flex;
          }
          ul {
            @apply hidden absolute top-full right-12 shadow-md border border-opacity-10;
            li {
              @apply bg-white px-6 text-black py-3 border-b border-opacity-5;
            }
          }
          img {
            @apply w-5 h-5 mr-1 align-bottom;
          }
        }
        .user-account{
          
          .user-email {
            @apply flex justify-center items-center mr-2 tracking-wider;
            svg {
              @apply mx-2;
            }
            span {
              @apply text-green-600 mr-1;
            }
            img {
              width: 26px !important;
              height: 26px;
              border-radius: 50%;
              verflow: hidden;
              margin-right: 8px;
            }
          }
        }
        li:hover ul {
          @apply block;
        }
        .coin {
          @apply text-yellow-500;
        }
      }
      .user-btn {
        @apply mr-0 py-3;
        .user-btn-signup {
          @apply py-1 px-3 text-lg outline-none mr-2 border border-yellow-500 hover:border-yellow-450;
        }
        .user-btn-login {
          @apply py-1 px-3 text-lg outline-none mr-2;
        }
      }
    }
  }
}
footer {
  @apply w-full py-2 text-center bg-yellow-500 text-white mb-0 ; 
}
