.user-index-container {
  @apply mt-24 mb-10;
  .page-container {
    @apply flex w-4/5 m-auto min-w-max min-h-screen;
    .img {
      @apply w-7/12 mt-6 relative;
      .slogan {
        @apply absolute left-20 top-12 text-gray-600;
      }
      img {
        @apply w-450;
      }
    }
    .title {
      @apply mt-24 w-full;
      span {
        @apply p-4;
        h1 {
          @apply text-8xl text-center text-gray-700 tracking-widest py-2;
        }
      }  
      .btn {
        @apply block m-auto text-2xl w-60 text-center py-3 px-8 tracking-widest shadow-lg;
      }
    } 
  }
}
