.container_nav{
  @apply flex justify-between w-full p-2 bg-white
}

.discuss_nav_left{
  @apply flex text-base justify-center w-7/12 items-center
}

.discuss_nav_left > a{
  @apply mr-5
}

.discuss_nav_left > a:nth-child(n+2){
  @apply text-gray-400 
}

.discuss_nav_right{
  @apply w-3/12 
}

.icon{
  @apply flex justify-center items-center
}

.discuss_nav_right .icon a > svg{
  @apply mx-3 text-xl text-gray-400
}


.discuss_nav_right > .icon > a:nth-child(1){
  @apply border-2 p-1 text-yellow-300 border-yellow-300 rounded-lg
}

.container_discuss{
  @apply w-full bg-gray-100 pt-2 pl-32 flex
}

.wrap{
  @apply flex flex-col w-9/12
}

.item{
  @apply flex  bg-white border-b
}

.item:nth-child(1) > a{
  @apply m-3 text-xl
}

.item:nth-child(1) > a:nth-child(n+2){
  @apply text-gray-400
}

.item:nth-child(2){
  @apply justify-between p-2 bg-green-50
}

.item:nth-child(2) > div:nth-child(1){
  @apply pt-1
}

.item:nth-child(2) > div:nth-child(1) > a{
  @apply mx-1
}

.item:nth-child(2) > div:nth-child(1) > a:nth-child(n+2){
  @apply mx-4 text-gray-500
}

.item:nth-child(2) button{
  @apply bg-gray-800 w-16 h-8 rounded-sm text-white
}

.item:nth-child(2) input{
  @apply w-48 h-7 rounded-sm text-sm text-center border-2
}

.item:nth-child(n+3){
  @apply p-2
}

.item:nth-child(n+3) div{
    @apply ml-5
}

.item img{
  @apply rounded-full
}

.item div h2{
  @apply text-lg
}

.item div h3{
  @apply text-sm text-gray-400
}

.discuss_right{
  @apply w-1/5 ml-3
}

.adver{
  @apply bg-blue-300 w-full h-36 rounded-xl shadow
}

.search{
  @apply bg-white w-full mt-6 rounded-sm shadow
}

.search div:nth-child(1){
  @apply w-full p-3 border-b border-gray-200
}

.search div:nth-child(2){
  @apply w-full p-3
}

.search input{
  @apply border-2 border-gray-200 rounded-sm w-11/12 text-center
}

.search button{
  @apply border-2 rounded-sm text-black bg-gray-200 block mt-2 mb-2 text-sm
}

.pagination{
  @apply flex justify-center my-3
}

.pagination > button{
  @apply mx-1  rounded-lg border-gray-300 border-2 p-1 bg-white font-black text-sm w-16 hover:bg-gray-200 hover:text-white text-gray-400
}

.pagination > input{
  @apply border-gray-300 border rounded-sm mx-2 text-center
}

body{
  background-color: rgba(243, 244, 246);
}