.container-discuss{
  @apply w-full min-h-screen pt-24 flex justify-center opacity-90 min-w-978 max-w-1800 m-auto;
  .discuss-wrap{
    @apply flex flex-col w-8/12;
    .discuss{
      @apply flex bg-white border-b border-l border-r shadow-md bg-gradient-to-r;
      &:nth-child(1) > a{
        @apply m-3 text-xl cursor-pointer hover:opacity-80;
      }   
      .page-opacity{
        @apply opacity-30;
      }  
      &:nth-child(2){
        @apply flex justify-between items-center p-2 bg-gray-100;
        & > div:nth-child(1){
          @apply w-10/12 flex items-center text-sm;
          .discuss-search{
            @apply w-64 ml-4;
            input{
              @apply w-64 h-8 rounded-sm text-base text-center border-2;
            }     
          }
          div{
            @apply w-28;
            span{
              @apply text-lg text-gray-500 mx-1;
            } 
          }    
        }
        & > div:nth-child(2){
          @apply w-4/12 flex justify-end items-center;
          div{
            @apply bg-yellow-500 px-2 py-1 rounded-sm hover:bg-yellow-450;
            a{
              @apply text-lg text-white;
              svg{
                @apply text-lg text-white mr-1;
              }
            }   
          }
        }   
      }      
      &:nth-child(n+3){
        @apply p-2;
        .pic{
          @apply w-16;
          & > img{
            width: 50px !important;
            height: 50px;
            border-radius: 50%;
            overflow: hidden;
          }
        }    
        div{
          @apply w-9/12 ml-3;
          &:nth-child(3){
            @apply flex flex-col pr-3 w-72;
            div{
              @apply flex text-sm mt-1;
            }
          }
          h2{
            @apply text-lg;
            a{
              @apply hover:text-gray-400;
            }
          }
          h3{
            @apply text-sm text-gray-400;
          }
          span{
            @apply text-green-600 pl-1;
          }  
        }  
      }         
    }
  }
}

.adver{
  @apply bg-blue-300 w-full h-36 rounded-xl shadow
}

.search{
  @apply bg-white w-full mt-6 rounded-sm shadow;
  div:nth-child(1){
    @apply w-full p-3 border-b border-gray-200
  }
  div:nth-child(2){
    @apply w-full p-3
  }
  input{
    @apply border-2 border-gray-200 rounded-sm w-11/12 text-center
  }
  button{
    @apply border-2 rounded-sm text-black bg-gray-200 block mt-2 mb-2 text-sm outline-none
  }
}

.pagination{
  @apply flex justify-center my-3;
  & > button{
    @apply mx-1  rounded-lg border-gray-300 border-2 p-1 bg-white font-black text-sm w-16 hover:bg-gray-200 hover:text-white text-gray-400 outline-none
  }
  & > input{
    @apply border-gray-300 border rounded-sm mx-2 text-center
  }
}

.loading{
  @apply flex justify-center items-center h-screen
}

.gray{
  @apply text-gray-400
}