.post-new-container {
  @apply w-full flex justify-center;  
  .post-new-wrap {
    @apply w-9/12 pt-20;
    .post-new-title {
      @apply w-full pb-5
    }
    .post-new-title {
      @apply w-full pb-5
    }
    .post-new-input {
      @apply w-full h-10 p-2 border border-gray-200
    }
    .post-new-button-wrap {
      @apply w-full flex justify-end;
      .post-new-button {
        @apply w-24 h-14 border border-gray-900 bg-yellow-500 rounded-md mt-2 text-lg hover:bg-yellow-600
        hover:text-white
      }
    }
  }
}








