.post-new-container{
  @apply w-full flex justify-center min-h-screen;  
  .post-new-wrap{
    @apply w-9/12 pt-28;
    .post-new-title{
      @apply w-full pb-2 
    }
    .post-new-input{
      @apply w-full h-10 p-2 border border-gray-200 outline-none
    }
    .post-new-button-wrap{
      @apply w-full flex justify-end;
      .post-new-button{
        @apply w-20 h-12  mt-4 text-lg outline-none mb-4;
      }
    }
    .anonymous{
      @apply flex items-center mb-1;
      #anonymous{
        @apply cursor-pointer;
      }
      .checkbox-value-anonymous{
        @apply text-sm text-gray-600 ml-0.5 cursor-pointer;
      }
    }
  }
}








