#ranking{
  @apply w-full pt-20 flex justify-center min-h-screen;
  .wrap{
    @apply w-8/12 flex flex-col items-center shadow-md py-2 h-1/2;
    .pages{
      @apply flex justify-center items-center w-full;
      div{
        @apply text-xl py-7 border-r border-gray-200 w-3/12 text-center hover:opacity-80 hover:bg-white cursor-pointer;
      }
      .page-opacity{
        @apply opacity-30 bg-gray-100;
      }
    }
    .body{
      @apply flex flex-col justify-center items-center w-full px-4;
      .title{
        @apply flex justify-center items-center w-full border-b border-gray-200;
        div{
          @apply text-xl w-1/3 flex justify-center px-5 py-7 mx-2;
        }
      }
      .content{
        @apply w-full flex flex-col justify-center;
        .user-info{
          @apply w-full border-b border-gray-200 flex;
          div{
            @apply text-xl w-1/3 flex justify-center px-5 py-7 mx-2;
            &:nth-child(1) {
              @apply text-red-900;
            }
            &:nth-child(2) {
              @apply text-green-600;
              img{
                @apply w-7 h-7 flex mx-1;
              }
            }
            &:nth-child(3) {
              @apply text-yellow-500;
            }
          }
          
        }
      }
    }
  }
}