.single-article-container{
  @apply w-full flex justify-center pt-7
}

.single-article-wrap{
  @apply w-7/12 bg-white shadow-md h-full
}

.single-article-title{
  @apply w-full px-2 py-4 flex justify-center items-center border-b border-gray-200
}

.single-article-title-goback{
  @apply w-2/12 flex justify-center border-r border-gray-300
}

.single-article-title-goback > a{
  @apply text-xl text-gray-400 hover:text-gray-700
}

.single-article-title-word{
  @apply w-8/12 flex justify-center items-center text-2xl text-gray-900 opacity-70
}

.single-article-title-word > svg{
  @apply text-2xl mx-2
}

.single-article-title-icon{
  @apply w-2/12 flex justify-center border-l border-gray-300 text-2xl text-red-500
}

.single-article-content{
  @apply w-full flex justify-center
}

.single-article-content-wrap{
  @apply w-3/5 border-b border-gray-200 pt-6 pb-4 flex flex-col items-center
}

.single-article-content-author{
  @apply w-full text-xl flex items-center text-gray-400 flex-grow-0
}

.single-article-content-author > img{
  @apply rounded-full mr-4 
}

.single-article-content-author > svg{
  @apply ml-3 text-gray-200
}

.single-article-content-author > span{
  @apply mx-2
}

.single-article-content-body{
  @apply w-full px-5 mt-8 flex-grow h-full flex flex-col justify-between 
} 

.single-article-content-body p{
  @apply flex flex-col py-2 text-gray-600 leading-9
}

.single-article-content-span{
  @apply mt-28
}

.single-article-content-span > span{
  @apply border-gray-700 bg-gray-100 p-2 rounded-md text-gray-500
}

.single-article-content-comments{
  @apply w-full
}

.single-article-comments-count{
  @apply flex justify-between border-b border-gray-300 p-2 bg-gray-300 opacity-40
}

.single-article-comments-count div > svg{
  @apply ml-2
}

.single-article-comments-count div > span{
  @apply text-base text-black mx-2
}

.single-article-content-input{
  @apply p-2 my-4 w-full flex flex-col items-center
}

.single-article-content-input > textarea{
  @apply  w-11/12 h-24 border-l-2 border-r-2 border-t-2 border-gray-300 rounded-t-md p-3 text-lg resize-none outline-none
}

.single-article-textarea-border{
  @apply w-11/12 border-2 rounded-b-md border-gray-300 flex justify-end
}

.single-article-textarea-border > button{
  @apply border-l-2 border-gray-300 rounded-b-sm p-2 bg-gray-400 opacity-70 text-white hover:bg-gray-800
}


#single-article-user-comments{
  @apply w-10/12 m-auto
}

.single-article-user-comments{
  @apply flex flex-col text-base w-10/12 my-10
}

.single-article-user-comments img{
  @apply rounded-full 
}

.single-article-user-title{
  @apply flex items-center my-5 text-gray-600
}

.single-article-user-title > h4{
  @apply mx-4
}

.single-article-user-title > span:nth-of-type(2){
  @apply ml-4
}

.single-article-user-content{
  @apply flex  pt-5 pl-16 w-full text-gray-900
}

.single-article-page{
  @apply w-full flex justify-center my-4 opacity-90
}

.single-article-page span{
  @apply text-lg mx-2 px-3 border border-gray-300 bg-gray-100 rounded-md text-black cursor-pointer hover:bg-red-800 hover:text-white
}

.single-article-page h5:nth-child(7){
  @apply text-lg
}

.single-article-page .first-button-color{
  @apply bg-red-800 text-white
}