<!-- <div class="container-discuss">
  <div class="discuss-wrap" id="discuss-wrap"></div>      
</div>   -->


<div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate ipsam officia repellendus tenetur modi quos dolores consequuntur est ullam quis? Delectus nisi aliquam eaque reiciendis quis consequatur omnis tempora dignissimos.
Neque, doloribus magnam? Perspiciatis cupiditate praesentium molestias voluptates tempora! Ipsum odio assumenda debitis incidunt ipsa deserunt quidem rem fugit quod eveniet, molestiae aperiam alias. Sapiente nesciunt fuga deserunt neque repudiandae?
Corporis deleniti iste quos exercitationem alias. Sint ipsam fugit unde voluptas magnam, quas debitis pariatur, dicta harum in reprehenderit sunt iusto autem aspernatur dolorem iste quam, nemo nulla sequi doloribus?
Reiciendis, sed repellendus obcaecati dolore optio ratione reprehenderit maiores inventore exercitationem fuga. Earum neque vel vero incidunt est totam nihil dolores soluta similique, corporis alias repudiandae! Omnis corrupti ipsum sed!
Quae magnam adipisci quam modi ullam iusto mollitia eius perspiciatis, quod in assumenda eligendi rerum error nobis culpa dignissimos! Sapiente suscipit non exercitationem voluptas, iste itaque corporis aliquid illo deserunt.
Ea, beatae reprehenderit illo repellat impedit laboriosam, iste a nisi, magni maxime quidem nemo? Dolor accusamus adipisci similique, reprehenderit iure error velit neque sunt repellendus omnis itaque provident, magnam pariatur!
Fugiat veniam earum libero quo nam a, dolores aspernatur dignissimos repellat neque quos saepe ducimus deleniti, veritatis, accusamus esse hic excepturi aperiam? Exercitationem totam nam impedit enim facere a aliquid.
Delectus, illo velit cupiditate sint eveniet fugit vel ex quidem dolores nulla? Velit similique assumenda excepturi esse laudantium officia neque. Necessitatibus, ipsa magni laudantium enim recusandae ducimus ea quod minima.
Laudantium, quo soluta repudiandae tempore deleniti maxime accusamus, ut temporibus a, iusto odio? Totam rem accusamus culpa sequi quo, accusantium tempore ducimus at corporis provident velit ipsam asperiores a nobis?
Aut, et ratione magni maiores vitae ab accusamus earum? Molestias, inventore velit dolorum doloribus aperiam minima accusantium, explicabo eaque autem omnis fugit numquam possimus quae ex sunt aliquid ab optio?
Vitae modi sequi ex voluptatum qui, aliquam reiciendis est praesentium aut aliquid totam obcaecati ipsum officia vel? Tempore, voluptatibus. Minus id quia facilis consequatur quidem atque, vitae necessitatibus rem error!
Corrupti magnam, magni error aspernatur fugit hic placeat ratione deserunt necessitatibus inventore dolorem ad adipisci reiciendis nesciunt eum atque delectus quaerat, reprehenderit nobis eligendi odit velit quasi corporis alias? Magni!
Officiis vitae suscipit temporibus in reiciendis, natus aut quod voluptas odio alias deleniti eaque eveniet ex repellat totam expedita eius excepturi voluptatem corporis sapiente officia sequi quaerat! Provident, quasi laudantium!
Illo inventore eos necessitatibus animi explicabo enim, rerum ea. Inventore ab temporibus explicabo nostrum, non earum! Quaerat eum quo, sequi amet vitae tempore voluptatem aliquam reprehenderit et veritatis libero optio.
Sunt, nobis. Expedita ex eius reprehenderit nobis repellendus praesentium, odio iure, error enim excepturi autem? Perferendis quam aliquid, veniam suscipit libero facilis explicabo officiis, quia accusantium facere, similique asperiores illo!</div>


<% @post.each do |post| %>
<div>
  <%= post.title %>
  <%= link_to like_api_v1_post_path(post) do %>
    點讚
  <% end %>
  <%= post.get_likes.size %>
</div>
<% end %>