<div id="posts">
  <div class="return_posts"><%= link_to '新的討論區', new_post_path %></div>
  <% @post.each do |post| %>
    <div class="post">
      <h1 class="title"><%= link_to post.title, post %></h1>
      <p class="date"><%= time_ago_in_words(post.created_at) %></p>
      <%= post.user.email %>
    </div>
  <% end %>

</div>



