<br/>
<br/>

<div id="posts">
  <div class="return_posts"><%= link_to '新的討論區', new_post_path %></div>
  <% @post.each do |post| %>
    <div class="post">
      <h2 class="title"><%= link_to post.title, post %></h2>
      <p class="date">發布於<%= time_ago_in_words(post.created_at) %></p>
      <%= post.user%>
    </div>
  <% end %>

</div>



