<div class="container-discuss">
    <div class="discuss-wrap" id="discuss-wrap"></div>     
        <div class="discuss-right">
          <div class="adver"></div>
          <div class="search">
            <div>Tags</div>
            <div>
            <input type="text" placeholder="Search for tags...">
            <button>phone screen</button>
            <button>google</button>
            <button>amazon</button>
            <button>facebook</button>
            <button>phone screen</button>
            <button>google</button>
            <button>amazon</button>
            <button>facebook</button>
            <button>phone screen</button>
            <button>google</button>
            <button>amazon</button>
            <button>facebook</button>
            <h3>...1392 tags not shown</h3>
          </div>
        </div>
    </div> 
</div>  