// Place all the styles related to the Comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

#comments {
  h2 {
    color: #492fcb;
    font-size:1.5rem;
    font-weight: 100;
    line-height: 1.5;
    margin-top:5px;
  }
}
    .comment {
      border-bottom: 1px solid #d1d1d1;
      padding-bottom: 1em;
      margin-bottom: 1em;
      h2 {
        color: #492fcb;
        font-size:1.5rem;
        font-weight: 100;
        line-height: 1.5;
        margin-top:5px;
      }
    }
    .content {
      width: 75%;
      float: left;
      .comment_content {
        color: #492fcb;
        font-size:1.5rem;
        font-weight: 100;
        line-height: 1.5;
        margin-top:5px;
      }
      .comment_auther {
        color: #397CAC;
        margin-top: .5em;
        font-size: 0.8em; 
        font-weight: 700;
        margin-bottom: 10px;
      }
    }
  

    .buttons {
      width: 25%;
      float: left;
      font-size: .8em;
      text-align: right;
      padding-top: 1.5em;
      a {
        color: #397CAC;
        border: 1px solid #397CAC;
        padding: .5em 1em;
        border-radius: 0.2em;
        text-decoration: none;
        margin-right: 2%;
      }
    }
