// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

body{
  font-family: 'Exo 2', sans-serif;
  font-family: 'Lato', sans-serif;
  font-family: 'Noto Sans', sans-serif;
  font-family: 'Noto Sans TC', sans-serif;
  background: #EDEFF0;
  }

#posts {
  .return_posts{
    margin-left: 60px;
    margin-top: 20px;
    background: #397CAC;
    border: none;
    color:white;
    font-weight: 100;
    padding: .5em 1em;
    border-radius: .2em;
    width: 8%;
  }
  .post {
    background:white;
    padding: 2em 5%;
    border-radius: .5em;
    .title {
      margin: 0;
      color: #397CAC;
      text-decoration: none;
      font-weight: 100;
      font-size: 1.25rem;
    }
    .date {
      margin-top: .25rem;
      font-size: 0.9rem;
      color: #B2BAC2;
    }
  }
}

#post_content {
  margin-bottom:10px;
  .new_post{
    margin-bottom:60px;
  }
  h1 {
    font-weight: 100;
    font-size: 2.5em;
    color: #397CAC;
    margin-top: 30px;
  }
  p {
    color: #492fcb;
    font-size:1.5rem;
    font-weight: 100;
    line-height: 1.5;
    margin-top:5px;
  }
}

.post_show_btn{
  .button {
    color: #397CAC;
    border: 1px solid #397CAC;
    padding: .5em 1em;
    border-radius: 0.2em;
    text-decoration: none;
    margin-right: 2%;
  }
}

replay_post{
  h3{
    color: #397CAC;
    border: 1px solid #397CAC;
    padding: .5em 1em;
    border-radius: 0.2em;
    text-decoration: none;
    
  }
}



input[type="submit"]{
  background: #397CAC;
  border: none;
  color:white;
  font-weight: 100;
  padding: .5em 1em;
  border-radius: .2em;
  width: 30%;
}
textarea {
  width: 100%;
  min-height: 200px;
  border: 1px solid #d1d1d1;
  border-radius: .2em;
  margin: 1em 0;
}

.wrapper {
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
}

.post_title {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.main_header {
  width: 80%;
  max-width: 1140px;
  margin: 0 auto;
  background-color: white;
  #logo {
    float: left;
    a {
      text-transform: uppercase;
      font-weight: 700;
      letter-spacing: -1px;
      font-size: 1.2rem;
      text-decoration: none;
      color: #397CAC;
    }
  }
  #buttons {
    float: right;
    a {
      line-height: 60px;
      background: #397CAC;
      padding: .5em 1em;
      border-radius: 0.2em;
      color: white;
      text-decoration: none;
      font-weight: 100;
    }
  }
}

